
body {
	width: 100%;
	font-family: "Lato",sans-serif;
	background-image: url("achtergrond.png");
	background-size: 100%;	
	background-repeat: no-repeat;
	margin: auto;
	color: #F9F9F9;
	line-height: 1.7;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 300 !important;
	}

.jumbotron {
	background-image: url("achtergrondb.png");
	background-size: 100%;
	color: #111111;	
	padding: 10px;
	border-radius: 1em;
	margin: 20px 0 0 20px;
}

.jumbotron p {
  	font-size: 10px;
  	font-weight: 200;
  	line-height: 1.5;
}

.media {
	margin: 10px;
	padding-top: 10px;
} 
