body {
	width: 100%;
	font-family: "Lato",sans-serif;
	background-image: url("achtergrond.png");
	background-size: 100%;	
	background-repeat: no-repeat;
	margin: auto;
	color: #000000;
	line-height: 1.7;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 300 !important;
	padding-right: 1.5em;
	}

.jumbotron {
	background-image: url("achtergrondb.png");
	background-size: 100%;
	color: #000000;	
	padding: 10px;
	border-radius: 1em;
	margin: 20px 0 0 20px;
}

.parent .light-green {
	color: #fff;
}

.jumbotron p {
  	font-size: 10px;
  	font-weight: 200;
  	line-height: 1.5;
}

.media {
	margin: 10px;
	padding-top: 10px;
} 

.right-body {
	border-left: dotted 1px;
	padding-left: 10px;
}

.left-body {
	margin-bottom: 10px;
}

.navbar-form {
	position: fixed;
}

h1 {
	text-align: center;
	font-size: 3em;
}

#icon {
    font-size: 1.2em;        
}

#bol {
	font-size: 1.25em;
}

.red {
	color: red;
}

.orange{
	color: orange;
}

.green {
	color: green;
}

.studentendeel, .datadeel {
	height: 100vh;
	overflow-y: scroll;
}

.studentendeel::-webkit-scrollbar, .datadeel::-webkit-scrollbar {
	height: 100vh;
	display: none;
	padding-right: 20px;
}